.calculator-input-operators-keys {
  display: flex;
  flex-direction: column;
  margin:5px;
}

.calculator-operator-key{
  background-color: #D08504;
  border: none;
  margin: 5px;
  width :50px;
  height:30px;
  color: white;
  text-align: center;
  font-size: 25px;
  text-shadow: -0.5px 1px #C21026;
  border-radius: 5%;
  box-shadow: 0 2px #C21026;
}