.calculator {
  width:400px;
  height: 550px;
  margin:50px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
  border-radius: 0px 0px 20px 20px;
  box-shadow: 0 5px #029D74; 
}

.calculator-digits-operators-div{
  display: flex;
}

p {
  margin:0;
  padding:0;
}