.calculator {
  width:400px;
  height: 550px;
  margin:50px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #355842; 
}

.calculator-key-Enter {
  margin:10px ;
  color:#FFFFFF;
  font-size: 20px;
  border: none;
  width :140px;
  height: 30px;
  background-color:#D08504;  
}

.calculator-digits-operators-div{
  display: flex;
}

p {
  margin:0;
  padding:0;
}